@media (max-width:1240px) {
    .about-me-page {
        width: 100%;
        padding: 0 32px;
    }

    .my-id-photo {
        width: 290px;
        height: 360px;
        margin-top: 100px;
    }

    .my-photo,
    .advantages-motto {
        width: 100%;
    }

}