@media (max-width:1650px) {
    .container {
        display: none;
    }
}
@media (max-width:1240px){

    .about-me-page {
        overflow: hidden;
    }
    
    .about-me-page,
    .publishing-page,
    .contact-page {
        width: 100%;
        padding: 0 32px;
        padding-top: 120px;
        box-sizing: border-box;
    }

    .all-header {
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
    }

    .my-id-photo {
        width: 350px;
        height: 430px;
    }

    .my-photo,
    .advantages-motto {
        width: 100%;
    }

    .my-text-box {
        top: 220px;
    }

    
    .view-box  {
        width: 100%;
        height: 50vh;
        margin: 50px auto 90px auto;
    }

    .view-box > img {
        width: 100%;
    }

    .publishing-page-text2 {
        width: 100%;
        margin: 50px auto 0 auto;
    }

    .modal {
        width: 100%;
        height: 50vh;
    }

    .publishing-page-name-shiningmoment,
    .publishing-page-name-megacoffee {
        font-size: 32px;
    }
    
    .title {
        font-size: 50px;
    }

    .greetings-sub {
        margin: 32px 0;
    }

    .protage-width {
        margin: 20px 20px;
    }

    .protege {
        flex-wrap: wrap;
    }

    .wrap-one,
    .wrap-two {
        margin: 0 auto;
    }

    .slide {
        width: 470px;
        height: 480px;
    }

    .advantages-content {
        margin-bottom: 60px;
    }

    .email-phone {
        flex-direction: column;
        justify-content: center;
    }

    .greetings-sub:after {
    }

    .glitch {
        margin-top: 50px;
    }

}

@media (max-width:960px){
    .advantages-motto,
    .my-photo  {
        flex-direction: column;
    }

    .my-photo {
        padding: 0;
    }

    .advantages-motto-fade-slides {
        margin: 0 auto 50px auto;
        width: 470px;
        height: 480px;
    }

    .advantages-motto-text {
        text-align: center;
        margin: 0 auto;
    }

    .advantages:after,
    .motto:after {
        margin: 32px auto;
    }

    .my-text-box {
        position: relative;
        margin: 42px auto;
        top: 90px;
    }

    .my-id-photo {
        display: block;
        margin: 120px auto;
    }

    .wave {
        height: 500px;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 65%;
    }

    .main-title {
        font-size: 42px;
    }

    .main-title-text {
        margin-bottom: 100px;
    }

    .wrap-one,
    .wrap-two {
        flex-direction: column;
    }

    .my-text-box,
    .publishing-page-text-all,
    .skill-publishing-sub-text {
        text-align: center;
    }

    .page-number-ab2 {
        padding-left: 0;
    }

    .advantages-motto-sub-text,
    .publishing-sub-text2 {
        font-size: 18px;
    }

    .publishing-sub-text2 {
        margin: 0 0 100px 0;
        font-size: 18px;
    }

    .br {
        display: block;
    }

    .view-box,
    .modal   {
        height: 35vh;
    }

    .email {
        font-size: 32px;
    }

    .email-phone,
    .greetings-sub,
    .page-number-ab3,
    .greetings  {
        padding-left: 0;
    }

    .greetings-sub::after {
        margin: 30px auto;
    }

    .contact-page-text,
    .email-phone-text {
        text-align: center;
    }
    
}

@media (max-width:600px) {

    body {
        overflow-x: hidden;
    }

    .mobile-menu {
        display: flex;
    }

    .about-me-page,
    .publishing-page,
    .contact-page {
        width: 100%;
        padding: 0 16px;
        margin-top: 120px;
        box-sizing: border-box;
    }

    .logo-img,
    .logo-img > img {
        width: 50px;
    }



    .wave {
        height: 300px;
        width: 300px;
        position: absolute;
        top: 120%;
        left: 125%;
    }

    
    .main-title,
    .portfolio {
        font-size: 24px;
    }

    .main-title-text {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .main-sub-text {
        font-size: 10px;
    }
    
    .page-number {
        font-size: 150px;
    }

    .title,
    .type-text {
        font-size: 32px;
    }

    .my-text-box {
        top: -50px;
        width: 100%;
        margin: 170px auto 0 auto;
    }

    .name {
        font-size: 16px;
    }

    .my-photo-photo  {
        height: 570px;
    }

    .slide,
    .advantages-motto-fade-slides {
        width: 100%;
        height: 340px;
    }

    .flower-text-box { 
        font-size: 23px;
    }

    .skill-publishing-sub-text {
        line-height: 150%;
    }

    .br2 {
        display: block;
    }

    .skill-text-eyes {
        flex-direction: column;
    }

    .eye {
        width: 50px;
        height: 100px;
        margin: 10px;
    }

    .ball {
        width: 30px;
        height: 30px;
    }

    .page-number-ab2,
    .page-number-ab3 {
        padding: 0;
    }

    .publishing-page-name-shiningmoment,
    .publishing-page-name-megacoffee,
    .publishing-page-name-megacoffee > span {
        font-size: 18px;
    }

    .publishing-page-type {
        font-size: 14px;
    }

    .modal-btn {
        height: 35px;
    }

    .view-box,
    .modal   {
        height: 35vh;
    }

    .greetings {
        font-size: 24px;
    }

    .email {
        font-size: 30px;
    }

    .mongs-portfolio {
        font-size: 24px;
    }

}