@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HancomUljuBangudae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/HancomUljuBangudae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


:root {
    --background-color: #121212;
    --font-color: #fdfdfd;
    --title-color: #232323;
}

body {
    background-color: var(--background-color);
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

.br,
.br2 {
    display: none;
}

.main-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.snow-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.snow {
    width: 10px;
    height: 10px;
    background: #4D4D4D;
    border-radius: 50%;
    opacity: 0;
    animation: snow 5s linear infinite;
    position: absolute;
    /* 눈 한알 한알 */
}

.snow1{
    width: 7px;
    height: 7px;
    animation-duration: 8s;
    animation-delay: 1s;
}

.snow2{
    animation-duration: 10s;
    animation-delay: 2s;
}

.snow3{
    animation-duration: 15s;
    animation-delay: 3s;
}

@keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translate(-15px, 20vh);
    }

    40% {
        opacity: 1;
        transform: translate(15px, 40vh);
    }

    60% {
        opacity: 1;
        transform: translate(-15px, 60vh);
    }

    80% {
        opacity: 1;
        transform: translate(0px, 80vh);
    }
    
    100% {
        opacity: 1;
        transform: translateY(100vh);
    }
}


/* ------------tag--------------------- */
.hashtag {
    font-size: 18px;
    color: var(--font-color);
}

.comet {
    width: 5vw;

}

.tag-01 {
    width: 5vw;

}

.tag-02 {
    width: 5vw;
}

.tag-03 {
    width: 5vw;
    top: 50%;

}

.tag-04 {
    width: 5vw;

}

.tag-05 {
    width: 5vw;

}

.tag-06 {
    width: 5vw;

}

.tag-07 {
    width: 5vw;

}

.tag-08 {
    width: 5vw;

}

.tag-09 {
    width: 5vw;

}

.tag-10 {
    width: 5vw;

}

.tag-11 {
    width: 5vw;

} 

/* --------------wave------------------- */
.wave-box {
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    transform: translate3d(0, 0, 0);
}

.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fdfdfd;
    opacity: 0.5;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: -1;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 1;
    background: var(--font-color);
}

.wave-box::after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.main-title {
    color: var(--background-color);
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio {
    font-size: 60px;
    color: var(--background-color);
    font-weight: 100;
}

.main-sub-text {
    font-size: 18px;
    line-height: 150%;
    color: var(--background-color);
    text-align: center;
}

.bold-text {
    font-weight: 900;
}

.about-me-page,
.publishing-page-text,
.contact-page-text {
    margin-top: 120px;
    position: relative;
}

.about-me-page {
    width: 1200px;
    margin: 120px auto;
}

.my-photo {
    padding-top: 120px;
}

.my-photo,
.advantages-motto {
    display: flex;
    justify-content: space-between;
}

.my-photo-photo {
    overflow: hidden;
}

.my-id-photo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.my-text-box {
    margin: 40px 0 0 100px;
    position: absolute;
    top: 170px;
    width: 410px;
}

.title {
    font-size: 70px;
    font-weight: bold;
    color: var(--font-color);
    margin-bottom: 70px;
}

.page-number {
    font-size: 300px;
    color: var(--title-color);
    font-weight: bold;
    position: absolute;
    top: -120px;
    z-index: -1;
}

.page-01 {
    top: 0;
}

.name {
    font-size: 18px;
    color: var(--font-color);
    height: 24px;
    padding: 0 18px;
}

.my-name-bd > .bor{
    border-left: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
}

/* -----지워졌다 다시 쓰는부분 ---------- */

.type-text {
    padding-top: 70px;
    font-size: 50px;
    color: #00d9ff;
    height: 70px;
    font-family: 'Nanum Brush Script', cursive;
}

.text-above {
    margin-top: 15px;
    font-size: 21px;
    color: #c0c0c0;
    font-weight: 300;
}

.text-above > span {
    font-weight: 600;
    font-size: 24px;
    color: var(--font-color);
}

.advantages-motto {
    padding-top: 120px;
}

.advantages-content { 
    margin-bottom: 137px;
}

.advantages,
.motto {
    font-size: 40px;
    color: var(--font-color);
    font-weight: bold;
}

.advantages::after,
.motto::after {
    content: '';
    background: var(--font-color);
    width: 90px;
    height: 1px;
    display: block;
    margin-top: 25px;
}

.advantages-motto-sub-text {
    color: #c0c0c0;
    margin-top: 25px;
    font-weight: 300;
    line-height: 150%;
}

.flower-text-box{
    margin-top: 30px;
    height: 50px;
    font-size: 32px;
    color: #fff493;
    font-family: 'HancomUljuBangudae';
    display: flex;
    align-items: center;
}

.flower-img {
    width: 50px;
    height: 50px;
}

.advantages-bold-text {
    font-weight: bold;
    font-size: 21px;
    color: var(--font-color);
}

.advantages-motto-fade-slides {
    width: 531px;
    height: 538px;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 531px;
    height: 538px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
    color: #fff;
    font-size: 48px;
    box-sizing: border-box;
}

.showing {
    opacity: 1;
    z-index: 99;
}

.skill-text-eyes {
    display: flex;
    position: relative;
    margin-top: 200px;
}

.skill-publishing-sub-text {
    color:#c0c0c0;
    font-weight: 300;
    margin-top: 20px;
}

.skill-eyes {
    position: absolute;
    top: 0;
    right: 0;
}

.eyes {
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye {
    width: 100px;
    height: 200px;
    background: #ffffff;
    margin: 20px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 60px;
    height: 60px;
    background: #121212;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.protege {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.wrap-one,
.wrap-two {
    display: flex;
}

.protage-width {
    width: 200px;
    text-align: center;
    margin: 20px 20px;
}

.count-border {
    border: 1px solid var(--font-color);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--font-color);
}

.protege-name {
    margin-top: 50px;
    color: var(--font-color);
}


.publishing-page {
    width: 1200px;
    margin: 0 auto;
}

.page-number-ab2 {
    margin-bottom: 50px;
    padding: 100px 0 0 100px;
}

.publishing-sub-text2 {
    margin-left: 100px;
}

.publishing-page-text2 {
    display: flex;
    align-items: center;
    color: var(--font-color);
    margin: 80px 0 0 100px;
    width: 1010px;
}

.publishing-page-num {
    font-size: 32px;
}

.publishing-page-title {
    width: 100%;
    margin-left: 43px;
}

.shining-moment-img:hover,
.mega-coffee-img:hover {
    transition-duration: 15s;
    transition-timing-function: linear;
}

.shining-moment-img:hover {
    transform: translateY(-86%);
}

.mega-coffee-img:hover {
    transform: translateY(-83.5%);
}

.shining-moment-content {
    position: relative;
}

.view-box {
    width: 1010px;
    height: 475px;
    overflow: hidden;
    margin: 50px 0 0 100px;
    position: relative;
}

.publishing-page-name-shiningmoment {
    font-size: 50px;
    font-family: 'Nanum Myeongjo';
}

.publishing-page-name-megacoffee {
    font-family: 'S-CoreDream-4Regular';
    font-size: 50px;
}

.publishing-page-type {
    font-size: 21px;
    margin-top: 15px;
    font-weight: 300;
    color: #c0c0c0;
}

.publishing-page-name-megacoffee > span {
    font-size: 28px;
}

.modal-btn {
    background: none;
    width: 200px;
    height: 40px;
    font-size: 18px;
    /* padding: 15px; */
    color: var(--font-color);
    border: 1px solid var(--font-color);
    overflow: hidden;
    cursor: pointer;
}

.modal-btn {
    --c: #a1a1a1; /* the color */
    --b: 1px;    /* border length*/
    --d: 10px;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .modal-btn:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }


  .modal-btn span{
    display: inline-block;
    transition: 0.5s;
  }
   .modal-btn span:nth-child(odd)::before{
    content: attr(data-text);
    position: absolute;
    transform: translateY(100%);
  }
  .modal-btn span:nth-child(odd){
    transform: translateY(-100%);
  }
  .modal-btn:hover span:nth-child(odd){
    transform: translateY(0);
  }
   .modal-btn span:nth-child(even)::before{
    content: attr(data-text);
    position: absolute;
    transform: translateY(-100%);
  }
   .modal-btn span:nth-child(even){
    transform: translateY(100%);
  }
  .modal-btn:hover span:nth-child(even){
    transform: translateY(0);
  }


.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal { 
    background: #fff;
    width: 1010px;
    height: 475px;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: 8s;
    border: 1px solid var(--font-color);
    position: relative;
    animation-name: modalani;
    animation-duration: 0.6s;
}   

@keyframes modalani {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.close::before,
.close::after {
    width: 35px;
    height: 1px;
    background: var(--font-color);
    position: absolute;
    content: '';
    top: 50%;
}


.close::after {
    transform: rotate(45deg);
}
.close::before {
    transform: rotate(-45deg);
}

.modal::-webkit-scrollbar {
    width: 8px;
}

.modal::-webkit-scrollbar-thumb {
    background: var(--background-color);
}

.view-site {
    font-size: 21px;
    background: var(--background-color);
    border: none;
    padding: 15px;
    transition: 0.5s;
}

.view-site > a {
    color: var(--font-color);
}

.view-site:hover {
    background: #fdfdfd;
}

.view-site:hover > a {
    color: #121212;
}

.contact-page {
    width: 1200px;
    margin: 0 auto;
}

.page-number-ab3 {
    padding: 100px 0 0 100px;
    margin-bottom: 50px;
}

.email-phone,
.greetings,
.greetings-sub {
    padding-left: 100px;
    color: var(--font-color);
}

.greetings {
    font-size: 30px;
    margin-bottom: 35px;
}

.greetings-sub {
    color: #c0c0c0;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin: 32px 0;
}

.greetings-sub > span {
    font-size: 21px;
    color: var(--font-color);
    font-weight: 600;
}

.greetings-sub::after {
    content: '';
    display: block;
    width: 280px;
    height: 1px;
    background: var(--font-color);
    margin: 20px 0;
}

.email-phone {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    overflow: hidden;
}

.email-phone-text-all {
    font-size: 21px;
    font-weight: 300;
    margin-top: 50px;
}

.email,
.phone {
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: -3px 2px 0 rgba(255,255,255,0.25);
    margin-bottom: 30px;
}

.phone {
    font-size: 35px;
    margin-top: 32px;
}

.period {
    font-size: 14px;
    color: #c0c0c0;
}

.count[data-number="70"]{
    color: var(--font-color);
}


.mongs-portfolio {
    font-size: 40px;
    color: #fdfdfd;
    position: relative;
    transform: skew(var(--skew)) scale(var(--scale));
}

.mongs-portfolio::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    clip-path: clip-path 50ms ease-in;
}

.greetings-sub::after {
    content: '';
    display: block;
    width: 280px;
    height: 1px;
    color: var(--font-color);
    margin: 30px 0;
}

.mongs-portfolio::before {
    left: 5px;
    text-shadow: 2px -2px #2a96d4;
    clip-path: polygon(
        0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1)
    );
}

.mongs-portfolio::after {
    left: -5px;
    text-shadow: -2px 2px #cc2a1f;
    clip-path: polygon(
        0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2)
    );
}


.typing-text {
    display: inline;
    vertical-align: middle;
    border-right: .05em solid black;
    animation: cursor 0.2s ease infinite;
}


.fade {
    opacity: 0;
    transition: 1s;
}

.to-top{
    transform: translateY(-200px);
}

.to-bottom{
    transform: translateY(200px);  
}

.to-left{
    transform: translateX(-200px);
}

.to-right{
    transform: translateX(200px);
}

.to-bottom-right{
    transform: translate(200px,200px);
}

.in {
    opacity: 1;
    transform: none;
}
